body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #EBEBEB;
}

button {
    height: 36px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo img{
    height: 58px;
    vertical-align: top;
}

.page-name {
    font-size: 50px;
    font-weight: bold;
}

.category-name {
    font-size: 35px;
    font-weight: bold;
}

.search-form {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}

.container {
    width: 60vw;
    padding-top: 5vh;
    margin: auto;
}

.list {
    height: 50vh;
}

table {
    border: 2px;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width: 55vw;
    background-color: white;
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #000;


}

th {
    border: 1px solid;
}

th:nth-child(1) {
    width: 11vw;
}

th:nth-child(2) {
    width: 9vw;
}

th:nth-child(4) {
    width: 110px;
}

th:nth-child(5) {
    width: 110px;
}

td {
    border: 1px solid;
}

td:nth-child(1) {
    width: 11vw;
}

td:nth-child(2) {
    width: 9vw;
}

td:nth-child(4) {
    width: 110px;
}

td:nth-child(5) {
    width: 110px;
}

select {
    height: 25px;
}

.id-search {
    border-radius: 5px;
    height: 30px;
}

.save {
    background-color: white;
    float: right;
}

.content-admin {
}

.button-save {
    color: white;
    background-color: #4338CA;
}

.button-search {
    color: white;
    background-color: #4338CA;
}