<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <!--    <link rel="stylesheet" th:href="../static/css/admin.css">-->
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<div class="container">
    <div class="header-contain">
        <a th:href="@{/}" class="logo"><img th:src="@{/css/logo.png}" alt="홈페이지 이동 로고"></a>
        <a href="" class="page-name">관리자 페이지</a>
    </div>
    <div class="content-admin">
        <p class="category-name">아이디 목록</p>
        <div class="search-form">
            <p></p>
            <!--<form action="" method="get">
                <input class="id-search" type="text" name="id-search" placeholder="아이디를 입력하세요.">
                <button class="button-search" type="button" th:onclick="|location.href='@{/admin}';|">검색하기</button>
            </form>-->
        </div>
        <form id="adminForm">
            <table>
                <thead>
                <tr>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>현재권한</th>
                    <th>권한선택</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, userStat : ${users}">
                    <td th:text="${user.id}">아이디</td>
                    <td th:text="${user.username}">이름</td>
                    <td th:text="${user.email}">이메일</td>
                    <td th:text="${user.role}">권한</td>
                    <td>
                        <select th:id="'role-' + ${user.id}" name="role">
                            <option th:each="role : ${T(com.ormi.cookudasse.auth.domain.Role).values()}"
                                    th:if="${role != T(com.ormi.cookudasse.auth.domain.Role).MANAGER}"
                                    th:value="${role}"
                                    th:text="${role.description}"
                                    th:selected="${role == user.role}">
                            </option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="save">
                <button type="button" class="button-save" onclick="submitForm()">저장하기</button>
            </div>
        </form>
        <!--        <div class="list">-->
        <!--            <table>-->
        <!--                <thead>-->
        <!--                <tr>-->
        <!--                    <th>아이디</th>-->
        <!--                    <th>이름</th>-->
        <!--                    <th>이메일</th>-->
        <!--                    <th>현재권한</th>-->
        <!--                    <th>권한선택</th>-->
        <!--                </tr>-->
        <!--                </thead>-->
        <!--                <tbody>-->
        <!--                <tr th:each="user:${users}">-->
        <!--                    <td th:text="${user.id}">아이디</td>-->
        <!--                    <td th:text="${user.username}">이름</td>-->
        <!--                    <td th:text="${user.email}">이메일</td>-->
        <!--                    <td th:text="${user.role}">권한</td>-->
        <!--                    <td>-->
        <!--                        <select th:field="*{role}">-->
        <!--                            <option th:each="role : ${T(com.ormi.cookudasse.auth.domain.Role).values()}"-->
        <!--                                    th:if="${role != T(com.ormi.cookudasse.auth.domain.Role).MANAGER}"-->
        <!--                                    th:value="${role}"-->
        <!--                                    th:text="${role.description}">-->
        <!--                            </option>-->
        <!--                        </select>-->
        <!--                    </td>-->
        <!--                </tr>-->
        <!--                </tbody>-->
        <!--            </table>-->
        <!--        </div>-->
    </div>
    <div>

    </div>
    <!--<div class="save">
        <form th:action="@{/api/admin/update}" method="post">
        <button class="button-save" type="submit">저장하기</button>
        </form>
    </div>-->
</div>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>