<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>글 수정</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h1>글 수정</h1>
    <form th:action="@{'/post/' + ${post.postId} + '/edit'}" th:object="${post.postDetail}" method="post">
        <div class="form-group">
            <label for="foodCategory">카테고리:</label>
            <select id="foodCategory" th:field="*{foodCategory}">
                <option th:each="category : ${foodCategories}" th:value="${category}" th:text="${category}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="postTitle">요리이름:</label>
            <input type="text" id="postTitle" th:field="*{postTitle}" required>
        </div>
        <div class="form-group">
            <label for="ingredients">요리재료:</label>
            <textarea id="ingredients" th:field="*{ingredients}" required></textarea>
        </div>
        <div class="form-group">
            <label for="recipe">요리 레시피:</label>
            <textarea id="recipe" th:field="*{recipe}" required></textarea>
        </div>
        <div class="button-group">
            <button type="submit">수정</button>
            <a th:href="@{'/post/' + ${post.postId}}" class="button">취소</a>
        </div>
    </form>
</div>
</body>
</html>