<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mouse Recipe</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<header>
    <a href="foodHome.html" class="logo">
        <img src="../img/mouse.png" alt="Mouse Logo">
    </a>

    <div class="search-container">
        <select>
            <option value="">All Categories</option>
            <option value="korean">KOREAN</option>
            <option value="chinese">CHINESE</option>
            <option value="italian">ITALIAN</option>
            <option value="japanese">JAPANESE</option>
            <option value="dessert">DESSERT</option>
        </select>
        <input type="text" placeholder="Search">
        <button type="submit">
            <img src="../img/searchIcon-black.png">
        </button>
    </div>

    <nav>
        <a href="signup.html">SIGN UP</a>
        <a href="login.html">LOGIN</a>
    </nav>
</header>

<div id="mouse_intro">
    <img src="../img/mouse.png" alt="Mouse Logo">
    <h2>mouse</h2>
    <p>Tagline Here</p>
</div>


<div class="floating-buttons">
    <a href="newRecipe.html" id="add-recipe" title="레시피 추가">+</a>
</div>
<a href="#" id="scroll-to-top" title="Go to top">↑</a>

<script src="../script/home.js"></script>
</body>
</html>